{% set anchorId = entry.anchor.anchorTitle ?? null %}

<div
  {% if classWrapper %}class="{{ classWrapper }} not-prose"{% endif %}
  {% if anchorId %}id="{{ anchorId|kebab }}"{% endif %}
  data-animate-group
>
  {% block content %}
  {% endblock %}
</div>
