{% set anchorId = entry.anchor.anchorTitle ?? null %}

<div
  {{ (classWrapper ? 'class="' ~ classWrapper ~ ' not-prose"')|raw }}
  {{ (anchorId ? 'id="' ~ (anchorId|kebab) ~ '"')|raw }}
>
  <div class="{{ classContent ?? '' }}">
    {% block content %}

    {% endblock %}
  </div>
</div>
