{% set anchorId = entry.anchor.anchorTitle ?? null %}

<section
  {{ (classWrapper ? 'class="' ~ classWrapper ~ '"')|raw }}
  {{ (anchorId ? 'id="' ~ (anchorId|kebab) ~ '"')|raw }}
>
  <div class="{{ classContent ?? '' }}">
    {% block content %}

    {% endblock %}
  </div>
</section>
