{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--cards' : 'inlines inlines--cards' %}
{% set classContent = builder ? 'blocks__popout' : '' %}
{% set isCols2 = entry.grid2cols %}

{% block content %}

  {{ include('_components/label.twig', {
    label: "Block Cards",
  }, withContext = false) }}
  <div class="grid {{ isCols2 ? 'sm:grid-cols-2' : 'sm:grid-cols-2 md:grid-cols-3' }}  gap-3 sm:gap-6">
    {{ entry.matrixCards.eagerly().render() }}
  </div>

{% endblock %}
