{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--code' : 'inlines inlines--code' %}
{% set classContent = builder ? 'blocks__content' : '' %}

{% block content %}
  {{ include('_components/label.twig', {
    label: "Block Buttons",
  }, withContext = false) }}
  {% if entry.title %}
    <p class="ui-bold text-sm mb-2 flex justify-between">
      <span>{{ entry.title }}</span>
      <span class="font-mono ml-auto text-stone-300">{{ entry.code.language }}</span>
    </p>
  {% endif %}
  <pre data-animate="fade-in"><code>{{ entry.code }}</code></pre>
{% endblock %}
