{% set builder = builder ?? false %}
{% extends builder ? "_partials/matrix.twig" : "_partials/cke.twig" %}
{% set classWrapper = builder ? 'blocks blocks--text' : 'inlines inlines--text' %}
{% set classContent = builder ? 'blocks__content' : '' %}

{% block content %}

  {% include "_components/label.twig" with {
    label: "Block Text"
  } only %}
  <div class="prose md:prose-lg lg:prose-xl" data-animate="fade-in">
    {{ entry.text }}
  </div>
  
{% endblock %}
