<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ craft.app.language|slice(0, 2) }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% hook 'seomateMeta' %}
  {% include "_globals/favicons" %}
  {% include "_globals/fonts" %}
  {% include "_globals/organization" %}
  {% include "_globals/matomo" %}
  {{ craft.vite.script("src/js/app.js", false) }}
</head>
<body
  data-signals="{ searchOpen: false, navOpen: false, dropdownOpen: false }"
  data-effect="if ($searchOpen) { window.scrollTo({ top: 0, behavior: 'smooth' }); }"
>
{% cache globally using key 'nav__' ~ craft.app.request.pathInfo %}
  {% include '_globals/nav' %}
{% endcache %}
{% include '_globals/search' %}
<main id="content">
  {% block main %}{% endblock %}
</main>
{% include '_globals/footer' %}
{% if entry is defined and canSave(entry) %}
  <a href="{{ cpUrl("preview/#{entry.id}") }}" title="Edit {{ entry.title }}" target="_blank" class="hidden lg:inline fixed bottom-0 left-0 p-4">✏️</a>
{% endif %}
{% if currentUser and currentUser.admin %}
  <pre data-json-signals class="hidden xl:block fixed bottom-0 right-0 p-4 text-xs bg-black text-white"></pre>
{% endif %}
</body>
</html>
