{% extends '_layouts/base' %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    {% set search = craft.entries.section('search').one() %}

    <section class="blocks blocks--cke">
      <div class="blocks__content prose md:prose-lg lg:prose-xl">
        {{ entry.builder }}
      </div>
    </section>
    <section class="blocks blocks--search">
      <div class="blocks__content">
        {{ search.render({
          type: 'page',
        }) }}
      </div>
    </section>
  {% endcache %}
{% endblock %}
