@layer base {
  body {
    @apply overflow-x-hidden text-black font-sans md:text-lg lg:text-xl antialiased pt-16;
  }

  img {
    @apply w-full;
  }

  button {
    @apply cursor-pointer;
  }

  strong,
  b {
    @apply ui-bold;
  }

  pre code {
    @apply text-xs md:text-sm rounded-md;
  }

  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply ring-2 ring-primary ring-offset-2 rounded-sm;
  }

  :focus:not(:focus-visible) {
    @apply ring-0;
  }

}
