@layer components {
  /* BUTTON & LINKS */
  .ui-btn {
    --_bg: var(--color-pop);
    --_text: var(--color-ink);
    background-color: var(--_bg);
    color: var(--_text);
    @apply ui-neo
    no-underline
    inline-flex items-center gap-2
    px-2 py-1 sm:px-4 sm:py-1.5
    text-sm sm:text-base
    ui-bold uppercase tracking-wide
    transition duration-100
    hover:shadow-none hover:translate-x-1.25 hover:translate-y-1.25 hover:no-underline
    focus:outline-none focus:ring-2 focus:ring-ink focus:ring-offset-2
    disabled:opacity-50 disabled:pointer-events-none;
  }

  .ui-btn--lg {
    @apply px-4 py-2 text-base md:px-6 md:py-3 md:text-xl;
  }

  .ui-btn--dark {
    --_bg: var(--color-ink);
    --_text: var(--color-pop);
    --shadow-color: var(--color-pop-on);
  }

  /*FORMS*/
  .ui-select,
  .ui-input {
    @apply ui-neo bg-canvas
    focus:outline-none focus:ui-border-pop focus:ui-shadow-pop
    focus:ring-0
    placeholder-ink-dim;
  }

  /*NOTICE*/
  .ui-notice {
    @apply ui-neo bg-pop inline-block px-4 py-2 ui-bold;
  }

  /*CARDS*/
  .ui-card {
    @apply h-full bg-canvas ui-neo space-y-3 ui-lift;
  }

  /*MAP POPUP*/
  .ui-popup {
    @apply min-w-3xs;

    .ui-popup__image {
      @apply w-full;
    }

    .ui-popup__content {
      @apply flex flex-col p-3 text-sm;
    }
  }
}
