<div
  class="hidden"
  data-signals="{ui: {btcCountdown: 10}}"
  data-class="{ 'block': $ui.btcOpen, 'hidden': !$ui.btcOpen }"
  data-on-interval__duration.1s="if ($ui.btcOpen) { $ui.btcCountdown <= 1 ? ($ui.btcCountdown = 10, {{
  datastar.get(
    '_datastar/bitcoin'
  )
  }}) : $ui.btcCountdown-- }"
  data-indicator:btc_fetching
>
  <div class="blocks blocks--spaceless fixed z-50 w-full">
    <div class="blocks__popout h-8 flex justify-end items-center gap-4 text-sm py-1">
      <div id="btc-panel">
        loading...
      </div>
      <div class="text-ink-dim font-mono w-6">
        {% include '_components/spinner.twig' with { indicator: 'btc_fetching', size: 'size-3' } only %}
        <span data-class="{ 'hidden': $btc_fetching }" data-text="$ui.btcCountdown + 's'"></span>
      </div>
    </div>
  </div>
</div>
