{% cache globally using key 'search' %}
  {% set search = craft.entries.section('search').one() %}

  <div class="hidden" data-class="{ 'block': $ui.searchOpen, 'hidden': !$ui.searchOpen }">
    <div class="blocks blocks--search">
      <div class="blocks__content">
        <div class="ui-card p-8">
          <p class="ui-bold">
            {{ search.title }}
          </p>
          {{ search.render({ type: 'modal' }) }}
        </div>
      </div>
    </div>
  </div>
{% endcache %}
